<html ng-app="errorPageApp">
	<head>
		<title>{{i18n('resources.BennuPortalResources', 'label.error.occurred')}} · {{config.applicationTitle.content}}</title>
		<meta charset="utf-8">
		<script src="{{asset('/bennu-portal/js/angular.min.js')}}"></script>
	    <link href="{{asset('/themes/dot/css/style.css')}}" rel="stylesheet">
	</head>
	<body ng-controller="ErrorCtrl">
		<div class="container">
			<div class="title clearfix">
				<img src="{{contextPath}}/api/bennu-portal/configuration/logo" />
				<span class="pull-right">
					{{i18n('resources.BennuPortalResources', 'label.error.occurred')}}
				</span>
			</div>
			<div class="content" ng-show="!success">
				<p>
					Este formulário serve para contactar o suporte técnico do sistema. Utilize-o para reportar o erro ocorrido.
				</p>

				<form ng-submit="sendForm()" class="form-horizontal">
					<input type="hidden" id="exceptionInfo" value="
*** Error Message ***
{{exception.localizedMessage}}
*** Request Info ***
User         | {{loggedUser.username}}

Request URI  | {{request.requestURI}}

Request URL  | {{request.requestURL}}

Query String | {{request.queryString}}

Method       | {{request.method}}

Locale       | {{locale}}

*** Request Parameters ***
{% for entry in parameters %}
[{{entry.key}}] {{entry.value}}

{% endfor %}
*** Request Attributes ***
{% for entry in attributes %}
[{{entry.key}}] {{entry.value}}

{% endfor %}
*** Stacktrace ***
{{stackTrace}}
" />
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">O seu email</label>
						<div class="col-sm-10">
							{% if loggedUser is null %}
								<input type="email" ng-model="data.email" class="form-control" id="email" required />
							{% else %}
								<input type="email" ng-model="data.email" class="form-control" id="email" readonly ng-init="data.email = '{{loggedUser.email}}'" />
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="subject">Assunto</label>
						<div class="col-sm-10">
							<input type="text" ng-model="data.subject" class="form-control" id="subject" required />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="description">Descrição</label>
						<div class="col-sm-10">
							<textarea ng-model="data.description" id="description" class="form-control" rows="5" required></textarea>
							<small>Seja o mais detalhado possível na descrição do problema. Se está a reportar um erro indique os passos necessários para o reproduzir, o resultado esperado e o resultado ocorrido.</small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10 col-sm-offset-2">
							<input type="submit" class="btn btn-default" value="Submeter formulário" ng-if="!sending">
							<input type="submit" class="btn btn-default" disabled value="A submeter..." ng-if="sending">
						</div>
					</div>
				</form>
			</div>
			<div class="success" ng-if="success">
				<h3>O seu pedido foi registado</h3>
				<p>Agradecemos o seu contacto, a sua mensagem será processada o mais brevemente possível.</p>
				Para mais questões, envie-nos um email para: <a href="mailto:{{config.supportEmailAddress}}">{{config.supportEmailAddress}}</a>.
			</div>
		</div>
	</body>

	<style>
		body {
			font-family: 'Roboto', sans-serif;
			font-weight:100;
			color: #aaa;
		}
		.container {
			margin: 120px auto 0 auto;
			max-width: 800px;
			background-color: #444;
			padding: 20px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 5px;
		}
		.content {
			margin: 20px auto 20px auto;
		}
		.title {
			border-bottom: 1px solid #eee;
			padding-bottom: 15px;
			font-size: 25px;
			min-height: 50px;
		}
		small {
			color: #999;
		}
		.success {
			text-align: center;
		}
	</style>

	<script>
		angular.module('errorPageApp', []).controller('ErrorCtrl', ['$scope', '$http', function($scope, $http) {
			$scope.data = {}; $scope.success = false; $scope.sending = false; $scope.data.userAgent = "{{userAgent}}"; $scope.data.referer = "{{referer}}";
			$scope.data.functionality = '{{functionality.externalId}}'; $scope.data.exceptionInfo = document.getElementById('exceptionInfo').value;
			$scope.sendForm = function() {
				$scope.sending = true;
				$http.post('{{contextPath}}/api/dot/support-form', $scope.data).then(function () {
					$scope.success = true;
				});
			}
		}]);
	</script>
</html>