<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="{{currentLocale}}"> <!--<![endif]-->
  <head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="{{currentLocale.language}}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="FenixEdu™ is an open-source academic information platform." />
	<meta name="Keywords" content="FenixEdu, open-source, academic, information, platform, academic administration, higher education, e-learning" />
	<meta name="Language" content="{{currentLocale}}" />
	<meta name="Robots" content="all" />
	<meta name="Author" content="FenixEdu" />
	<meta name="Email" content="hello@fenixedu.org" />
	<meta name="Copyright" content="Técnico Lisboa — Instituto Superior Técnico" />
	<meta name="Distribution" content="Global" />
	<meta name="Rating" content="General" />

	<!-- OpenGraph Specific Metas -->
	<meta property="og:title" content="FenixEdu™" />
	<meta property="og:type" content="application" />
	<meta property="og:image" content="/img/logo_og.png" />
	<meta property="og:url" content="http://www.fenixedu.org" />
	<meta property="og:site_name" content="FenixEdu" />
	<meta property="og:description" content="FenixEdu™ is an open-source academic information platform." />
	<meta property="fb:profile_id" content="379238245509413" />

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>{% block title %}{{ functionality.title.content }} · {{ selectedTopLevel.title.content }}{% endblock %}</title>

	<link href="{{asset('/themes/dot/css/style.css')}}" rel="stylesheet">
	{% block headerStyles %}{% endblock %}

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="{{asset('/bennu-portal/js/jquery.min.js')}}"></script>
	<script src="{{asset('/themes/dot/js/bootstrap.min.js')}}"></script>
	<script> setLang = function(l) {$.post('{{contextPath}}/api/bennu-core/profile/locale/' + l.replace('_', '-')).always(function() { location.reload(); });}</script>

	<link rel="shortcut icon" type="image/x-icon" href="{{contextPath}}/api/bennu-portal/configuration/favicon">
  </head>

  <body>
	  {% block body %}
	  <div class="container">
		{% block topbar %}
		<header class="row" role="banner">
			<div class="top-navbar">
				<img class="app-logo" width="58px" heigth="49px" src="{{contextPath}}/api/bennu-portal/configuration/logo" alt="{{config.applicationTitle.content}}">
				<div class="navbar-brand">
					<h4 class="media-heading">{{config.applicationTitle.content}} <span class="small" id="subtitle">{{config.applicationSubTitle.content}}</span></h4>
				</div>
				  <div class="collapse navbar-collapse">
					<span class="pull-right text-right navbar-brand">
						{% if loggedUser is null %}
							<a href="{{contextPath}}/login">{{ i18n('resources.DotThemeResources', 'label.login') }}</a>
						{% else %}
							{{ i18n('resources.DotThemeResources', 'label.username') }}: {{loggedUser.displayName}} ({{loggedUser.username}})
							<a href="{{contextPath}}/logout">{{ i18n('resources.DotThemeResources', 'label.logout') }}</a>
							<br />

							{% for locale in locales %}
								<span class="lang-wrapper">
									<a class="lang {% if locale == currentLocale %}active{% endif %}" title="{{locale.displayName}}" onclick="setLang('{{locale}}')">{{locale.language}}</a>
								</span>
							{% endfor %}
						{% endif %}
					</span>
				</div>
			</div>
			<nav>
				<ul class="nav nav-tabs">
					{% lazyFor item in topLevelMenu %}
					<li class="menu {% if item == selectedTopLevel %}active{% endif %}">
						<a href="{{contextPath}}/{{item.path}}" alt="{{item.description.content}}">{{item.title.content}}</a>
					</li>
					{% endLazyFor %}
				</ul>
			</nav>
		</header>
		{% endblock %}

		<nav class="row secondary-nav">
			<ul class="nav nav-pills">
				{% lazyFor child in selectedTopLevel.userMenuStream %}
				<li class="submenu">
					<a href="{{contextPath}}{{child.fullPath}}" alt="{{ child.description.content }}">
						{% if child is in(pathFromRoot) %}
							<strong>{{ child.title.content }}</strong>
						{% else %}
							<span>{{ child.title.content }}</span>
						{% endif %}
					</a>
				</li>
				{% endLazyFor %}
			</ul>
		</nav>

		<div class="row">
			<main id="content" class="clearfix">
				{% if functionality.faqUrl != null %}
					<button type="button" class="hidden-xs btn btn-sm btn-default"  onclick="openFaq(); return false;" style="float: right; font-size: 17px;" aria-label="FAQ">
						<span class="glyphicon glyphicon-question-sign" style="vertical-align: middle;" aria-hidden="true"></span>
					</button>

					<a class="visible-xs btn btn-sm btn-default"  href="{{ functionality.faqUrl }}" style="float: right; font-size: 17px;" aria-label="FAQ">
						<span class="glyphicon glyphicon-question-sign" style="vertical-align: middle;" aria-hidden="true"></span>
					</a>
				{% endif %}
				<div>
					{{body | raw}}
				</div>
			</main>
		</div>

		{% block footer %}
		<footer class="col-lg-12 footer">
			{{config.applicationCopyright.content}}
			|
			<a href="" onclick="openSupport(); return false;">
				{{i18n('resources.SupportFormResources', 'label.support.form')}}
			</a>
		</footer>
		{% endblock %}
		</div>

		{% endblock %}
	</body>

	<div class="modal fade" tabindex="-1" role="dialog" id="supportModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form id="supportForm" class="form-horizontal">
				<input type="hidden" name="userAgent" id="userAgent" value="" />
				<input type="hidden" name="referrer" id="referrer" value="" />
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">{{i18n('resources.SupportFormResources', 'label.support.form')}}</h4>
				</div>
				<div class="modal-body form-body">
					{{i18n('resources.SupportFormResources', 'label.support.form.welcome')}}
					<hr />
						<div class="form-group">
							<label class="col-sm-2 control-label">{{i18n('resources.SupportFormResources', 'label.error.page.support')}}:</label>
							<div class="col-sm-10">
								<select name="support" id="support" class="form-control">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="subject" class="col-sm-2 control-label">{{i18n('resources.SupportFormResources', 'label.error.page.subject')}}:</label>
							<div class="col-sm-10">
								<input type="text" name="subject" id="subject" class="form-control" required />
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-sm-2 control-label">{{i18n('resources.SupportFormResources', 'label.error.page.description')}}:</label>
							<div class="col-sm-10">
								<textarea id="description" name="description" rows="5" style="width: 100%" required></textarea>
								<small>{{i18n('resources.SupportFormResources', 'label.error.page.help')}}</small>
							</div>
						</div>
						<div class="form-group">
							<label for="type" class="col-sm-2 control-label">{{i18n('resources.SupportFormResources', 'label.support.form.type')}}:</label>
							<div class="col-sm-10">
								<label class="radio-inline">
									<input type="radio" name="type" id="type-error" value="error" checked>
									{{i18n('resources.SupportFormResources', 'label.support.form.type.error')}}
								</label>
								<label class="radio-inline">
									<input type="radio" name="type" id="type-request" value="request" required>
									{{i18n('resources.SupportFormResources', 'label.support.form.type.request')}}
								</label>
								<label class="radio-inline">
									<input type="radio" name="type" id="type-question" value="question">
									{{i18n('resources.SupportFormResources', 'label.support.form.type.question')}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="attachment" class="col-sm-2 control-label">{{i18n('resources.SupportFormResources', 'label.support.form.attachment')}}:</label>
							<div class="col-sm-10">
								<div class="alert alert-danger" id="largeFile" style="display: none">
									{{i18n('resources.SupportFormResources', 'label.support.form.attachment.file.too.large')}}
								</div>
								<input type="file" name="attachment" id="attachment" />
								<small>{{i18n('resources.SupportFormResources', 'label.support.form.attachment.help')}}</small>
							</div>
						</div>
				</div>
				<div class="modal-body success text-center hide">
					<h3>{{i18n('resources.SupportFormResources', 'message.error.page.submitted')}}</h3>
					{{i18n('resources.SupportFormResources', 'message.error.page.submitted.body')}} <a href="mailto:{{config.supportEmailAddress}}">{{config.supportEmailAddress}}</a>.
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">{{i18n('resources.SupportFormResources', 'label.error.page.submit')}}</button>
				</div>
				</form>
			</div>
		</div>
	</div>


	{% if functionality.faqUrl != null %}
		<div class="modal fade" tabindex="-1" role="dialog" id="faqModal">
			<div class="modal-dialog" style="width: 80%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">FAQ</h4>
					</div>
					<div class="modal-body">
						<div class="embed-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var fetchedFaq = false;
			var faqModal = $('#faqModal');
			var faqEmbed = faqModal.find('.embed-responsive');

			setFaqAspectRatio = function() {
				faqEmbed.css("padding-bottom", (window.innerHeight / window.innerWidth * 100) + "%");
			}

			openFaq = function() {
				setFaqAspectRatio();
				if(!fetchedFaq) {
					faqEmbed.append('<iframe class="embed-responsive-item" src="{{ functionality.faqUrl }}"></iframe>');
					fetchedFaq = true;
				}
				faqModal.modal('show');
			}

			$( window ).resize(setFaqAspectRatio);
		</script>
	{% endif %}

	<script>
		var data = { 'functionality': '{{functionality.externalId}}' };
		var fetchedSupport = false;

		openSupport = function() {
			if(!fetchedSupport) {
				$.get('{{contextPath}}/api/dot/support-form/{{functionality.externalId}}', function(data){
					$('#support').append($('<option>', {
						value: data.default.id,
						text : data.default.title
					}));
					$.each(data.options, function (i, item) {
						$('#support').append($('<option>', {
							value: item.id,
							text : item.title
						}));
					});
				});

				fetchedSupport = true;
			}

			$.ajaxSetup({ headers: {'Content-Type':'application/json; charset=UTF-8'} });

			$('#supportModal').modal('show');
		};

		$('#supportForm input[type=file]').on('change', function (event) {
			var file = event.target.files[0]; $('#largeFile').hide();
			if(file.size > 5 * 1024 * 1024) { 
				$('#largeFile').show(); 
				return; 
			}
			var reader = new FileReader();
			data['fileName'] = file.name; data['mimeType'] = file.type;
			reader.onload = function (e) {
				var content = e.target.result;
				data['attachment'] = content.substr(content.indexOf(",") + 1, content.length);
			};
			reader.readAsDataURL(file);
		});
		$('#supportForm').on('submit', function(event) {
			event.preventDefault(); 

			$("#userAgent").val(navigator.userAgent);
			$("#referrer").val(document.referrer);

			var target = $(event.target); $.map(target.serializeArray(), function(n, i){ data[n['name']] = n['value']; });
			target.find('button[type=submit]').html("{{i18n('resources.SupportFormResources', 'label.error.page.submitting')}}...");
			target.find('button[type=submit]').attr('disabled', true);
			$.post('{{contextPath}}/api/dot/support-form', JSON.stringify(data), function () {
				target.find('.success').removeClass('hide'); 
				target.find('.modal-footer').hide(); 
				target.find('.form-body').hide();
			});
		});
	</script>
</html>
